annotated-types==0.6.0
mypy==1.9.0
mypy-extensions==1.0.0
pydantic==2.6.4
pydantic-settings==2.2.1
pydantic_core==2.16.3
python-dotenv==1.0.1
python-stdnum==1.20
SQLAlchemy==2.0.29
sqlalchemy-stubs==0.4
typing_extensions==4.11.0
